* {
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    padding-left: 15em;
    padding-right: 10em;
    color: white;
}

h5 {
    font-size: 27px;
    margin-top: 0.5em;
}

.search,
.cart,
.menu {
    display: none;
}

.nav-list {
    list-style-type: none;
}

ul {
    margin-top: 1.3em;
}

li {
    display: inline;
    padding: 0.3em;
    font-size: 18px;
}

a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin-top: 0.5em;
    margin-left: 0.2em;
}

h6 {
    font-size: 18px;
    margin-top: 1em;
    padding-left: 6em;
}

.mbr {
    background-color: #23A6F0;
    padding: 0.8em;
    margin-bottom: 2.5em;
    border-radius: 0.5em;
}

.container {
    background-image: url("Images/hero-cover.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}


@media screen and (max-width: 600px) {
    nav {
        display: block;
        margin: 0;
        padding: 4em;
        color: black;
    }

    h5 {
        font-size: 1.5em;
        float: left;
        margin-top: 0em;
        margin: -1.5em;
        color: black;

    }

    .search {
        display: flex;
        width: 10%;
        float: right;
        margin-top: -2.2em;
        margin-right: 10em;
    }

    .cart {
        display: flex;
        width: 14%;
        float: right;
        margin-top: -2.6em;
        margin-right: -8em;
    }

    .menu {
        display: flex;
        width: 10%;
        float: right;
        margin-top: -2.2em;
        margin-right: -13em;
    }

    body {
        background-color: white;
    }

    .nav-list {
        padding: 3em;
        margin-top: 1em;
        line-height: 5em;
        font-weight: 500;
    }
    ul {
        margin-top: 0em;
    }
    
    li {
        display: inline;
        padding: 0em;
        font-size: 18px;
    }
    a {
        font-size: 2em;
        padding: 1.7em;
        color: gray;
        text-decoration: none;
        font-size: 2em;
        margin-top: 1em;
        margin-left: 1em;
    }
    h6 {
        font-size: 8px;
        margin-top: 0em;
        padding-left: 6em;
    }

    .login {
        display: none;
    }

    .mbr {
        display: none;
    }

    .container {
        background-image: none;
        height: 0;
        width: 0;
    }
}

.heroo {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    margin-top: 3em;
}
.hero {
    height: 500%;
    width: auto;
    display: flex;
}
h1 {
    font-size: 4.5em;
}

p {
    font-size: 1.5em;
}

.right-btn {
    background-color: #23A6F0;
    border-radius: 4em;
    margin-left: 5em;
    margin-right: 10em;
    float: left;
    padding: 1em;
}

.left-btn {
    background-color: transparent;
    border-radius: 4em;
    border: solid rgb(218, 215, 215);
    float: right;
    margin-left: -10em;
    margin-right: 6em;
    padding: 1em;

}

@media screen and (max-width: 600px) {
    .container {
        height: 100%;
        width: auto;
    }

    .heroo {
        margin-top: 30em;
        display: block;
        background-image: url("Images/hero-cover.png");
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        width: 600%;
        text-align:justify;
        transform: none;
        color: white;
        margin-left: -17em;
        padding-left: 3em;
        padding-right: 12em;
    }

    .hero {
        height: 500%;
        width: auto;
        display: block;
    }

    h1 {
        font-size: 3em;
        padding: 2em;
        padding-top: 1em;
        margin-top: 0;
        color: white;
    }

    p {
        font-size: 1.3em;
        color: white;
        margin-top: -3em;
        margin-bottom: 1em;

    }

    h6 {
        margin: 0;
        padding-left: 5em;
        padding-right: 2em;
        font-size: 1.2em;
        color: white;
    }

    .right-btn {
        margin-left: 2em;
        margin-top: 2em;
        margin-right: 10em;
        float: left;
        padding: 1em;
    }

    .left-btn {
        margin-right: 1em;
        margin-top: 1.9em;
        padding-right: 1em;
        float: left;
        margin-left: -7em;
        padding: 1em;
    }
}

.prev-sect {
    display: flex;
    font-size: 2em;
    margin-top: 17em;
    margin-left: 3em;
}

.person {
    width: 20%;
}

.prev-txt {
    font-size: 1em;
}

.left-prev {
    border: 1px solid rgb(247, 242, 242);
    background-color: white;
    margin-right: 8em;
    padding: 1em;

}

.mid-prev {
    border: 1px solid rgb(247, 242, 242);
    background-color: white;
    margin-right: 1em;
    margin-left: -5em;
    padding: 2em;

}

.right-prev {
    background: 1px solid gray;
    background-color: #23A6F0;
    margin-left: 2em;
    padding: 2em;
}

@media screen and (max-width: 600px) {


    .prev-sect {
        display: block;
        font-size: 0.5em;
        margin-right: 1em;
        margin-top: 70em;
        line-height: 7.5em;
        margin-left: 19em;
    }

    .person {
        width: 10%;
        margin: 0;
    }

    h4 {
        margin-top: 0;
        font-size: 1.3em;
    }

    .prev-txt {
        color: gray;
        font-size: 0.8em;
    }

    .left-prev {
        padding: 1em;
        margin: 0;
        border: none;
        align-content: justify;
        background-color: white
    }

    .mid-prev {
        padding: 1em;
        margin: 0;
        border: none;
        align-content: justify;
        background-color: white
    }

    .right-prev {
        padding: 1em;
        margin: 1em;
        background-color: white
    }
}


.other-sect {
    margin-top: 0em;
    background-color: rgb(247, 247, 247);
    padding-top: 12em;
    padding-bottom: 2em;
}

.sector {
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-left: 8em;
    margin-right: 8em;
    padding-left: 5em;
    padding-right: 5em;
    padding-top: 7em;
    padding-bottom: 2em;
    background-color: white;
}

.persons {
    width: 33%;
}

@media screen and (max-width: 600px) {
    .other-sect {
        margin-top: 0em;
        background-color: white;
        margin-right: 0;
        margin-left: 6em;
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .sector {
        padding: 1em;
        display: block;
        margin-top: 0;
        margin-left: 2em;
        margin-right: 6em;
        margin-bottom: 0;
        line-height: 4em;
    }

    .pre-hd {
        font-size: 0.8em;
    }
}


.industry-sec {
    margin-top: 2em;
    padding-top: 3em;
    background-color: rgb(245, 244, 244);
}

h2 {
    font-size: 3em;
    text-align: center;
}

.indust-txt {
    font-size: 1.1em;
    text-align: center;
    color: gray;
}

.comment {
    display: flex;
    justify-content: space-between;
    color: gray;
    margin-left: 5em;
    margin-right: 5em;
}

.rating {
    border: 1px solid rgb(236, 234, 234);
    padding-right: 3em;
    padding-bottom: 0em;
    padding-left: 3em;
    margin-bottom: 12em;
    background-color: white;
}

.user {
    width: 10em;
    padding-top: 2em;
    padding-left: 1em;
}

.stars {
    width: 5em;
    margin-top: 0em;
    margin-bottom: 1em;
    padding-left: 3em;
}

@media screen and (max-width: 600px) {
    section {
        background-color: rgb(250, 249, 249);
    }

    .comment {
        display: block;
    }

    .industry-sec {
        display: block;
        margin: 2em;
        background-color: white;
    }

    h2 {
        font-size: 2em;
        margin-bottom: 0.5em;
        text-align: center;
    }

    .indust-txt {
        color: gray;
        font-size: 1em;
        margin-top: 0em;
    }

    .rating {

        padding: 0;
        margin: 0;
        text-align: center;
        font-size: 1em;
        padding-bottom: 2em;
        border: none;
    }

    .user {
        padding-top: 4em;
        width: 40%;
        padding-left: 7em;
    }

    .stars {
        width: 20%;
        padding-left: 10em;
        margin-top: 0;
        margin-bottom: 1em;
    }
}

.img {
    width: 10%;
    padding-left: 4em;

}

@media screen and (max-width: 600px) {
    .img {
        width: 25%;
        display: block;
        padding-bottom: 2em;
    }

    .apps {
        margin-left: 10em;
        margin-top: 15em;
    }
}

.subscribe {
    display: flex;
    justify-content: space-between;
    padding-left: 6em;
    padding-right: 8em;
    margin-left: 10em;
    margin-right: 10em;
    margin-top: 4em;
    padding-top: 2em;
    border: 1px solid gray;
    background-image: linear-gradient(to right, rgb(2, 2, 90), rgb(107, 5, 107), rgb(201, 65, 87));
    padding-bottom: 2em;
}

.sub {
    font-size: 1.6em;
    color: white;
}

.subscri {
    background-color: #23A6F0;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 3em;
    padding-left: 3em;
    color: white;
    font-size: 1em;
}

.email {
    padding-bottom: 1em;
    padding-top: 1em;
    padding-right: 3em;
    font-size: 1em;
    margin-right: -2em;
}

@media screen and (max-width: 600px) {
    .subscribe {
        padding: 0;
        display: grid;
        padding-left: 2em;
        padding-top: 1em;
        margin-left: 0em;
        margin-right: 0em;
        border: 1px solid gray;
        background-image: linear-gradient(to right, rgb(2, 2, 90), rgb(107, 5, 107), rgb(201, 65, 87));
        padding-bottom: 1em;
    }

    .sub {
        text-align: center;
        padding-right: 5em;
        color: white;
    }

    .subscri {
        padding: 0.5em;
        margin-left: 0;
        background-color: #23A6F0;
    }

    .email {
        padding: 0.5em;
        margin-right: -1rem;
    }
}

.pricing-sec {
    margin-top: 2em;
    padding-top: 3em;
    background-color: rgb(245, 244, 244);
    margin: 2em;
    background-color: white;
}

.price-hd {
    font-size: 3em;
    margin-bottom: 0.5em;
    text-align: center;
}

.price-txt {
    font-size: 1.1em;
    text-align: center;
    color: gray;
}

.detail {
    display: flex;
    margin-left: 10em;
    margin-right: 10em;
}

.rates {
    border: 1px solid #23A6F0;
    padding-right: 3em;
    padding-bottom: 3em;
    padding-top: 2em;
    padding-left: 3em;
    margin-top: 3em;
    margin-bottom: 8em;
    border-radius: 1em;
    background-color: white;
}

.rates2 {
    border: 1px solid #23A6F0;
    padding-right: 3em;
    padding-top: 2em;
    padding-bottom: 1em;
    padding-left: 3em;
    margin-bottom: 5em;
    margin-top: 1em;
    border-radius: 1em;
    background-color: rgb(23, 20, 46);
}

.price {
    color: black;
    font-size: 1.7em;
    font-weight: bold;
    padding-left: 1.5em;
}

.price2 {
    color: white;
    font-size: 1.7em;
    font-weight: bold;
    padding-left: 1em;
}

.price-comment {
    color: gray;
    font-size: 1em;
}

.price-comment2 {
    color: white;
    font-size: 1em;
}

.dollar {
    color: #23A6F0;
    font-size: 2em;
    font-weight: bold;
    padding-left: 1em;
}

.amount {
    width: 10%;
}

.tick {
    margin-bottom: -1.5em;
    width: 15%;
}

.tick2 {
    width: 10%;
    margin-bottom: -1.5em;
    margin-left: 0.5em;
}

.price-list {
    color: black;
    font-size: 1em;
    margin-bottom: 2em;
    margin-left: 2em;
}

.price-list2 {
    color: white;
    font-size: 1em;
    margin-bottom: 2em;
    margin-left: 2em;
}


.free {
    background-color: #23A6F0;
    padding: 0.8em;
    padding-right: 3em;
    padding-left: 3em;
    margin-bottom: 1em;
    border-radius: 0.5em;
    text-align: center;
}

@media screen and (max-width: 600px) {

    .pricing-sec {
        display: block;
        margin: 2em;
        margin-top: 2em;
        padding-top: 2em;
        background-color: white;
    }

    .price-hd {
        margin-bottom: 2em;
    }

    .detail {
        display: block;
        margin-left: 6em;
        margin-right: 6em;
    }

    .rates {
        padding: 0;
        margin: 0;
        text-align: center;
        font-size: 1em;
        padding-bottom: 2em;
        border: none;
        background-color: white;
    }

    .rates2 {
        padding: 0;
        margin: 0;
        text-align: center;
        font-size: 1em;
        padding-bottom: 2em;
        border: none;
        background-color: white;
    }

    .price {
        color: black;
        font-weight: bold;
        padding-left: 2em;
        padding-top: 4em;
    }

    .price2 {
        color: black;
        font-weight: bold;
        padding-left: 2em;
        padding-top: 4em;
    }

    .price-comment {
        color: gray;
        font-size: 1em;
        padding-top: 5em;
    }

    .price-comment2 {
        color: gray;
        font-size: 1em;
        padding-top: 5em;
    }

    .dollar {
        color: #23A6F0;
        font-size: 1.7em;
        font-weight: bold;
        padding-left: 1em;
        margin-bottom: 1em;

    }

    .amount {
        width: 12%;
    }

    .tick {
        width: 15%;
        margin-bottom: -1.5em;
    }

    .tick2 {
        width: 10%;
        margin-bottom: -1.5em;
        margin-left: 0.5em;
    }

    .price-list {
        color: black;
        font-size: 1em;
        margin-bottom: 2em;
        padding-top: 3em;
        text-align: justify;
    }

    .price-list2 {
        color: black;
        font-size: 1em;
        margin-bottom: 2em;
        padding-top: 3em;
        text-align: justify;
    }

    .free {
        background-color: #23A6F0;
        padding: 0.8em;
        padding-right: 2em;
        padding-left: 2em;
        margin-bottom: 1em;
        border-radius: 0.5em;
        text-align: center;
        font-size: 1em;
        color: black;
    }

}

.map {
    background-color: rgb(22, 22, 39);
    padding-left: 13em;
    padding-top: 10em;
    margin-bottom: 2em;
    padding-bottom: 24em;
}

.map-hd {
    color: white;
    text-align: justify;
    margin-bottom: 1em;
}

.map-txt {
    color: white;
    font-size: 1.1em;
}

.map-img {
    width: 50%;
    float: right;
    padding-right: 4em;
}

@media screen and (max-width: 600px) {
    .map {
        background-color: rgb(36, 36, 63);
        margin-top: 2em;
        padding-top: 8em;
        padding-bottom: 8em;
        padding-left: 1.5em;
        padding-right: 3em;
    }

    .map-hd {
        margin-top: 0;
        margin-bottom: 2em;
        text-align: justify;
        padding-left: 1.1em;
        color: white;
        font-size: 2.7em;

    }

    .map-txt {
        font-size: 1em;
        padding-left: 2em;
        line-height: 1.5em;
    }

    .map-img {
        width: 80%;
        padding-left: 2em;
        margin-top: 3em;
        padding-top: 0.7em;
        padding-bottom: 3em;
    }
}

.form {
    background-color: white;
    border: 1px solid rgb(238, 238, 238);
    margin-right: 15em;
    margin-left: 15em;
    padding-bottom: 0em;
    margin-top: -22em;
    margin-bottom: auto;
}

.input {
    padding-left: 1em;
    float: right;
    margin-right: 12em;
    font-size: 1.2em;
    padding-bottom: 1em;
    margin-top: 2.5em;
    margin-bottom: 1em;
}

.bookAp {
    font-size: 1.6em;
    text-align: center;
}

.contact {
    width: 30%;
    padding-right: -9em;
}

.btn {
    background-color: #23A6F0;
    padding: 0.8em;
    padding-right: 9em;
    margin-bottom: 2.5em;
    border-radius: 0.5em;
}

.area {
    padding: 1em;
    padding-right: 10em;
    border-radius: 0.5em;
    background-color: rgb(221, 221, 221);
}

@media screen and (max-width: 600px) {

    .contact {
        width: 30%;
    }

    .form {
        margin-top: -2em;
        padding-left: 0;
        margin-left: 7em;
        border: none;
        margin-right: 0;
        margin-bottom: 0;
        margin-left: 0;
        background-color: white;
    }

    .input {
        margin-right: -13em;
        font-size: 1.2em;
        padding-bottom: 1em;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .bookAp {
        display: none;
    }

    .btn {
        background-color: #23A6F0;
        padding: 0.8em;
        font-size: 1em;
        padding-right: 8em;
        margin-right: 17em;
        margin-bottom: 2.5em;
        border-radius: 0.5em;
    }
}

.contacts {
    margin-left: 0em;
    padding-left: 10em;
    padding-right: 10em;
    padding-top: 8em;
    padding-bottom: 3em;
    background-color: rgb(250, 250, 250);
}

.cont {
    background-color: #23A6F0;
    padding: 1em;
    padding-right: 2em;
    padding-left: 2em;
    margin-bottom: 2.5em;
    border-radius: 0.5em;
    float: right;
}

.consult-hd {
    font-size: 1.7em;
}

.consult-txt {
    font-size: 1.2em;
}

@media screen and (max-width: 600px) {
    .contacts {
        margin-top: 35em;
        padding-left: 4em;
        padding-top: 4em;
        padding-bottom: 5em;
        padding-right: 1em;
        padding-left: 4em;
        margin-left: 0;
        border-top: 6px solid black;
        background-color: rgb(231, 230, 230);

    }

    .cont {
        font-size: 1.2em;
        background-color: #23A6F0;
        padding: 1em;
        margin-left: 2em;
        padding-right: 5em;
        padding-left: 4em;
        margin-top: 2em;
        border-radius: 0.5em;
        margin-bottom: 2em;
        margin-right: 4em;
    }

    .consult-hd {
        margin-top: 2em;
        font-size: 1.5em;
    }

    .consult-txt {
        color: gray;
        margin-top: 1em;
        font-size: 1.1em;
    }

}

.last-sec {
    display: flex;
    justify-content: space-between;
    margin-left: 10em;
    margin-top: 2em;
    margin-bottom: 3em;
    margin-right: 10em;
}

.first,
.second,
.third,
.fourth,
.fifth {
    display: grid;
}

.hd {
    font-weight: bold;
}

.fifth {
    padding-left: 3em;
    margin: 0.5em;
}

.imgs {
    width: 10%;
    margin-top: 0.9em;
    margin-bottom: -1em;
    margin-left: -1em;
}

@media screen and (max-width: 600px) {

    .last-sec {
        display: block;
        justify-content: space-between;
        margin-left: 10em;
        margin-top: 2em;
        margin-bottom: 3em;
        margin-right: 10em;
        line-height: 2em;
    }

    .fifth {
        padding-left: 0.1em;
        margin: 0.5em;
    }
}

.foot-txt {
    margin-left: 12em;
    font-size: 1em;
    margin-top: 2em;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin-left: 0em;
    margin-right: 0em;
    background-color: rgb(250, 250, 250);
}

.imgs-foot {
    width: 10%;
    margin-top: 0.9em;
    margin-bottom: 1em;
    margin-right: 15em;
}

@media screen and (max-width: 600px) {
    .footer {
        display: grid;
        margin-left: em;
        margin-top: 2em;
        margin-bottom: 4em;
        padding-bottom: 4em;
        margin-right: 0em;
        background-color: rgb(250, 250, 250);
    }

    .foot-txt {
        margin-left: 5em;
        font-size: 1em;
        margin-top: 2em;
        color: gray;
    }

    .imgs-foot {
        width: 30%;
        margin-top: 3em;
        margin-bottom: 1em;
        margin-left: 10em;
    }
}
